*, *::before, *::after {
  animation: none !important;
  transition: none !important;
}
@media (prefers-reduced-motion: no-preference) {
  *, *::before, *::after {
    animation: none !important;
    transition: none !important;
  }
}
